<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Master_Investor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Master_Investor.Properties.Settings>
            <setting name="browserLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="USDTPairesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BTCPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeForTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TUSDPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DAIPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USDCPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KCSPAiresEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ETHPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TRXPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DOGEPairesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Master_Investor.Properties.Settings>
    </userSettings>
</configuration>